<h2>Quản lý Roles</h2>
<% if(permissionsUser.indexOf("users.add") > -1) { %> 
<a href="/roles/add" class="btn btn-primary mb-2">Thêm mới</a>
<% } %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tên</th>
    <% if(permissionsUser.indexOf("users.update") > -1) { %>  
      <th width="5%">Sửa</th>
    <% } %>
    <% if(permissionsUser.indexOf("users.delete") > -1) { %>  
      <th width="5%">Xóa</th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% roles.forEach(({id, name}) => { %>
    <tr>
      <td><%= name %></td>
      <% if(permissionsUser.indexOf("users.update") > -1) { %>  
      <td><a href="/roles/edit/<%= id %>" class="btn btn-warning">Sửa</a></td>
      <% } %>
      <% if(permissionsUser.indexOf("users.delete") > -1) { %> 
      <td>
        <a href="#" class="btn btn-danger delete-action">Xóa</a>
        <form action="/roles/delete/<%= id %>" method="post"></form>
      </td>
      <% } %>
    </tr>
    <% }) %>

  </tbody>
</table>