<!DOCTYPE html>
<html>
  <head>
    <title>Project B</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2>Project B</h2>
    <p>Welcome <%= user.name %></p>

    <button><a href="logout">Logout</a></button>
  </body>
</html>
