<h2>Danh sách người dùng</h2>
<% if(permissionsUser.indexOf("users.add") > -1) { %> 

<a href="#" class="btn btn-primary">Thêm mới</a>
<% } %>
<hr />
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="5%">STT</th>
      <th>Tên</th>
      <th>Email</th>
      <% if(permissionsUser.indexOf("users.update") > -1) { %> 
      <th width="15%">Phân quyền</th>
      <th width="5%">Sửa</th>
      <% } %>
      <% if(permissionsUser.indexOf("users.delete") > -1) { %> 
      <th width="5%">Xóa</th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(({id, name, email}, index) => { %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= name %></td>
      <td><%= email %></td>
      <% if(permissionsUser.indexOf("users.update") > -1) { %>  
      <td>
        <a href="/users/permission/<%= id %>" class="btn btn-success">Phân quyền</a>
      </td>
      <td>
        <a href="#" class="btn btn-warning">Sửa</a>
      </td>
      <% } %>
      <% if(permissionsUser.indexOf("users.delete") > -1) { %> 
      <td>
        <a href="#" class="btn btn-danger">Xóa</a>
      </td>
      <% } %>
    </tr>
    <%}) %>

  </tbody>
</table>