<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="row">
      <h1 class="text-center">Login</h1>
    </div>
    <p><%= msg ?? "" %></p>
    

    <form
      class="row g-3 needs-validation was-validated"
      novalidate=""
      method="post"
    >
      <div class="row">
        <div class="col-4"></div>
        <div class="col-md-4">
          <label>User Name</label>
          <input
            type="text"
            class="form-control"
            id="validationUserName"
            name="username"
            required
            placeholder="User name ..."
          />
        </div>
      </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-md-4">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password ..."
            required
          />
        </div>
      </div>
      <div class="row">
        <p></p>
      </div>
      <div class="row justify-content-center">
        <div class="col-1">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </div>
    </form>
    <script src="/javascripts/validate.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
