<h1 class="text-center">Đổi mật khẩu</h1>
<form action="" method="post">
    <div class="mb-3">
        <label for="">Nhập mật khẩu mới</label>
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="New password ..."
          required
        />
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
      </div>
</form>