<h1 class="text-center">Quên mật khẩu</h1>

<form action="" method="post">
    <div class="mb-3">
        <label for="">Email đổi mật khẩu</label>
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="Email ..."
          required
        />
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Gửi link đổi mật khẩu</button>
      </div>
</form>