<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoApp</title>
    <style>
      .button-link {
        display: inline-block;
        padding: 15px 40px;
        color: #007bff;
        background-color: #d0dfdf;
        border: 2px solid #0c0c79;
        text-decoration: none;
        border-radius: 6px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Todo app</h1>
    <p>Do you want to read a tutorial?</p>
    <a href="/tutorial" class="button-link">Get Started</a>
    <p>Do you want to use it now?</p>
    <a href="/todo" class="button-link">Use it now!</a>
  </body>
</html>
