<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoApp</title>
    <style>
      .button-link {
        display: inline-block;
        padding: 15px 40px;
        color: #007bff;
        background-color: #d0dfdf;
        border: 2px solid #0c0c79;
        text-decoration: none;
        border-radius: 6px;
        cursor: pointer;
      }
    </style>
  </head>
  <p>
    <h1>Welcome to Todo App!</h1>
    <p>There some thing you must know:</p>
    <ul>
      <li>This todo app does not require network to use!</li>
      <li>
        This todo app will <b>NOT save</b> immediately when you make changes!
      </li>
      <li>This todo app will <b>ONLY save</b> when you leave the page!</li>
      <li>
        This todo app uses localStorage to store data(When leaving the page)!
      </li>
      <li>This todo app uses <b>toastify</b> to make pop-up notifications!</li>
    </ul>
    <h2>So, how can i using this?</h2>
    <h3>Step 1 Create a new todo</h3>
    <p>By typing in the input, submit. You can add new task very easy</p>
    <p>If you add a "empty" task, don't worry, you can Update or Delete it!</p>

    <h3>Step 2 Update a todo</h3>
    <p>
      If you want to update a todo, just Double click on the content of todo you want to update.</p>
      <p> By the "empty" task, if you change the content, you can see the id was changed!</p> 
      <p>So, how about done task? Make it done! or Delete
      it!</p>

    <h3>Step 3 Make it done!</h3>
    <p>If you want to change a status of todo, just One click on the status of todo you want to update.</p>
    <p>Or, you can Delete it!</p>

    <h3>Step 4 Destroy it!</h3>
    <p>If you don't want to change a status of todo, just Double click on the ID of todo you want to delete.</p>
    <p>Or, you can Change status!</p>
<p>For now, you can Create new task!</p>
    <h3>Let do it</h3>
    <p>
      For now, you can enjoy it. Let do it!
    </p>
    <a href="/todo" class="button-link">Use it now!</a>
  </body>
</html>
