<!DOCTYPE html>
<html>
  <head>
    <title>F8 Cache Users</title>
   
  </head>
  <body>
    <h1>User List</h1>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.name %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
